<p>
 <%= form_thing.label(:title) %>
 <br/>
 <%= form_thing.text_area(:title) %>
 <br/>
 <%= form_thing.label(:released_on) %>
 <br/>
 <%= form_thing.text_field(:released_on) %>
  <br/>
  <%= form_thing.label(:genre) %>
  <br/>
    <%= form_thing.text_field(:genre) %> 
    <br/>
  <%= form_thing.label(:rating) %>
  <br/>
  <%= form_thing.text_field(:rating) %>
  <br/>
 <%= form_thing.label("Artist") %>
 <%= form_thing.select :artist_id, options_for_select(Artist.all.collect { |a| [ a.name, a.id ] }) %>
</p>
